version: '3.4'

services:
  app:
    image: ${DOCKER_REGISTRY-}ws-auth-app
    build:
      context: .
      dockerfile: frontend/.Dockerfile
      target: production-stage
    environment:
      - API_URL=http://api.test.tobiasmesquita.dev/
    ports:
      - '10300:3000'
    volumes:
      - ws-auth-app:/app
  
  api:
    image: ${DOCKER_REGISTRY-}ws-auth-api
    build:
      context: .
      dockerfile: backend/.Dockerfile
      target: production-stage
    ports:
      - '10400:3000'
    env_file:
      - ./backend/envs/release.env
    volumes:
      - ws-auth-app:/app

volumes:
  ws-auth-app:
  ws-auth-api:
